@import "../../assets/scss/theme.scss";

#formEditUser input{
    background-color: #E9E9E9;
}
#phoneEdit{
    background-color: white !important;
}
#dateBirthday{
    background-color: white !important;
}