
.boton-imagen{
    background-image:url('../../assets/images/delete.png');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    border: none;
    background-position:center;
    background-color: transparent;
  }