.box{
    background: #5dbdea;
    height: 100px;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: white
  }
  .icon-img{
    display: inline-block;
    margin: 10px;
    width: 10px;
    overflow: hidden;
 } 